@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto:wght@100;500&display=swap%27');

:root{
    --background-body: #FFF9E7;
    --background-nav: #3A53E3;
    --white: #FFFFFF;
    --gray: #C0C0C0;
    --yellow: #F8CD53;
    --black: #000000;
    --blue: #191970;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-body);
}

p{
    font-family: 'lato', Roboto;
    margin-bottom: 1.5rem;
}

h1,
h2,
h3,
a {
    font-family: 'lato', cursive;
    letter-spacing: 3px;
    font-weight: 800;
    color: var(--background-footer);
}

h1 {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
    color: #f12711;
}

h2,
h3 {
    text-align: center;
    color: var(--blue);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 5px var(--blue);
}

hr {
    margin: 1rem;
}

nav {
    margin: 0 auto;
    width: 80vw;
    /* background-color: var(--background-nav); */
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem ;
    padding: 2.25rem 1.5rem;
    box-shadow: 2px 2px 5px var(--gray);
    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav a {
    color: var(--white);
    letter-spacing: 3px;
    font-weight: 800;
}

.logo {
    display: flex;
    width: 20%;
    justify-content: left;
    position: relative;
    align-items: center;
}

.icone {
    width: 5rem;
    padding-left: 1rem;
    display: flex;
}

.titulo {
    font-family: 'Lato', cursive;
    color: var(--white);
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 800;
}

ul {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 1rem;
    font-size: 24px;
    color: var(--white);
}

main {
    width: 80vw;
    margin: 0 auto;
}

#sobre {
    display: flex;
    align-items: center;
    background-color: ;
    padding: 20px;
    border-radius: 16px;
    align-items: center;
    gap: 20px;
    background: var(--yellow);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--yellow), #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--yellow), #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.foto {
    width: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--blue);
}

.foto:hover {
    box-shadow: 5px 5px 8px var(--background-nav);
    cursor: pointer;
}

#meu_video {
    margin-bottom: 2rem;
}

.video {
    width: 60vw;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    margin-top: 2rem;
}

.infos {
    padding: 5%;
    text-align: center;
    align-items: center;
    color: var(--blue);
    color: var(--background-nav);
    font-weight: bold;

    
}

footer{
    width: 80vw;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: var(--background-footer); */
    background: var(--blue);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--yellow), #b21f1f, var(--blue));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--yellow), #b21f1f, var(--blue)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.redes_sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.by {
    display: flex;
    padding-top: 0.25rem;
    color: var(--yellow);
}

.icons {
    width: 45px;
    padding: 0 0.5rem;
}



/*Página de Contato*/

.contato {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 40px
}

.endereco {
    font-family: 'lato', Roboto;
    color: var(--dark-purple);
    font-size: 1rem;
}

.formulario {
    width: 50%;
}

label {
    font-family: 'lato', Roboto;
    margin-left: 1rem;
    font-weight: bold;
}

input,
textarea,
button {
    font-family: 'lato', Roboto;
    width: 100%;
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    color: var(--black);
}

input::placeholder,
textarea::placeholder {
    color: var(--blue);
}

input,
textarea {
    border: 1px solid var(--blue);
}

button {
    font-family: 'lato', Roboto;
    background-color: var(--background-nav);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--blue)
}

button:hover {
    background-color: var(--blue);
    color: var(--yellow);
    border: 1px solid #ffffff7d;
    box-shadow:  #eb4c20 1px 1px 8px 1px; 
    transition: .2s;
}

.campos-form {
    margin-bottom: 1rem;
}

@media (max-width: 1000px) {

    nav{
        width: 100vw;
        flex-direction: column;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
    }

    .logo {
        width: 100vw;
    }

    .titulo{
        text-align: center;
    }

    main{   
        width: 95vw;
    }

    #sobre {
        flex-direction: column-reverse;
        text-align: center;
    }

    .foto {
        margin-top: 1rem;
    }

    #meu_video {
        width: 95vw;
    }

    .video {
        width: 95vw;
    }

    footer{
        width: 100vw;
    }

    .by {
        font-size: 1rem;
    }

    .contato {
        width: 100vw;
        flex-direction: column;
    }

    .endereco,
    #formulario_mensagem,
    #formulario_buscacep {
        width: 85vw;
        margin: 0 auto;

    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }

    h2,
    h3 {
        font-size: 1.3rem;
    }

    ul {
        font-size: 16px;
        flex-wrap: wrap;
    }
}